<div *ngIf="toggleCart" aria-labelledby="modal-title" aria-modal="true" class="relative z-20" role="dialog">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-[#f0f0f0] px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="font-bold text-3xl text-blue-700 mb-4">Warenkorb</div>
                    <div *ngIf="dataRepo.allCartItems.items.length > 0; else emptyLabel" class="flex flex-row flex-wrap">
                        <div *ngFor="let item of dataRepo.allCartItems.items">
                            <event-item (cartItemRemove)="handleRemoveCartItem($event)" [eventItem]="item" [isEventList]="false"></event-item>
                        </div>
                    </div>
                    <ng-template #emptyLabel>
                        <div class="text-gray-400 text-xs">Der Warenkorb ist leer.</div>
                    </ng-template>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button (click)="toggleCartChanged.emit(false)"
                            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
                            type="button">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
